---
title: 
layout: default
---

{% for post in paginator.posts %}

<h1 class="posttitle">{{ post.title }}</h1>

<p class="date">{{ post.date | date: '%A, %B %-d, %Y' }}</p>

  <div class="words">{{ post.content }}</div>
<hr>
{% endfor %}

<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}">&#8592; Previous</a>
  {% else %}

  {% endif %}

    | Page: {{ paginator.page }} of {{ paginator.total_pages }} |

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}">Next &#8594;</a>
  {% else %}

  {% endif %}
  </div>

