||28E|29E|30E|31E|32E|34E|35E|36E|37E|38E|39E|
|--|--|--|--|--|--|--|--|--|--|--|--|
|Weightloss|-10.5%|-5.0%|-4.4%|-5.3%|-4.4%|-6.9%|-5.9%|-5.4%|-6.2%|-4.2%|-4.2%|
|<span class="macro">Fat kcal % μ</span>|<span class="macro">86.7%</span>|<span class="macro">85.5%</span>|<span class="macro">85.3%</span>|<span class="macro">86.0%</span>|<span class="macro">86.6%</span>|<span class="macro">86.8%</span>|<span class="macro">87.1%</span>|<span class="macro">87.8%</span>|<span class="macro">87.8%</span>|<span class="macro">89.6%</span>|<span class="macro">87.1%</span>|
|<span class="macro">Fat (g) μ</span>|<span class="macro">217.1</span>|<span class="macro">200.5</span>|<span class="macro">204.8</span>|<span class="macro">220.7</span>|<span class="macro">222</span>|<span class="macro">202.7</span>|<span class="macro">228.9</span>|<span class="macro">221.1</span>|<span class="macro">218.7</span>|<span class="macro">235.1</span>|<span class="macro">220.5</span>|
|<span class="macro">Protein (g) μ</span>|<span class="macro">74.8</span>|<span class="macro">76.7</span>|<span class="macro">77.3</span>|<span class="macro">79.8</span>|<span class="macro">76.4</span>|<span class="macro">68.6</span>|<span class="macro">75.6</span>|<span class="macro">68.1</span>|<span class="macro">67</span>|<span class="macro">60.2</span>|<span class="macro">71.9</span>|
|<span class="macro">Carbs (g) μ</span>|<span class="macro">*</span>|<span class="macro">0</span>|<span class="macro">2.3</span>|<span class="macro">1.1</span>|<span class="macro">0.9</span>|<span class="macro">0.9</span>|<span class="macro">1</span>|<span class="macro">0.8</span>|<span class="macro">1.6</span>|<span class="macro">1</span>|<span class="macro">1.6</span>|
|Bacon / P Belly (lbs)|*|9.5|8.4|8.5|6.7|7.6|7.6|—|4.8|1.7|—|
|Butter (lbs)|*|10.1|5.3|16.6|17.4|14.8|16.2|18.8|19.6|22.4|19.7|
|Coffee (gallons)|*|10.4|6.5|4.1|7.6|12.1|11.6|12|10.7|12|9.7|
|Bacon Fat (cups)|*|4.5|5|3.6|3.7|2.6|2.3|—|0.5|0.1|—|
|Ground Beef (lbs)|*|12.2|10.1|9.3|4.4|10.1|7.2|10.1|5.3|8.5|11.2|
|Large Eggs|*|—|17|82|70.3|70|72|58.3|32.8|7.7|94|
|Prosciutto (lbs)|*|—|0.5|1.4|1.1|—|—|—|—|0.7|—|
|Chicken Wings (lbs)|*|—|—|1.8|4.8|—|—|1.4|1.6|—|—|
|Gelatin (pack)|*|—|—|1|—|—|—|4|—|—|—|
|Pig Rib (lbs)|*|—|—|0.2|—|—|—|—|—|—|—|
|Oyster (cans)|*|—|0.5|—|—|—|—|—|—|—|—|
|Ghee (lbs)|*|3.7|8.2|—|—|1.2|—|—|—|—|—|
|Beef Liver (lbs)|*|—|3.6|—|—|—|—|0.5|2.3|1.5|0.4|
|Lamb (lbs)|*|1.5|—|—|—|—|—|—|—|—|—|
|Beef Ribs (lbs)|*|0.1|—|—|—|—|—|—|—|—|—|
|Salmon (lbs)|*|—|—|—|2.1|—|—|—|2.4|3.4|1.3|
|Broth (gallons)|*|—|—|—|0.5|0.2|11.3|13.1|1.5|—|—|
|Pork Rinds (lbs)|*|—|—|—|0.2|—|—|—|—|0.1|—|
|Chicken Bones (lbs)|*|—|—|—|—|—|0.9|—|—|—|—|
|Chicken Skin (lbs)|*|—|—|—|—|—|0.5|0.3|0.2|—|—|
|Roast Beef (lbs)|*|—|—|—|—|—|—|4.4|1.7|—|—|
|Steak (lbs)|*|—|—|0.4|—|—|—|—|0.6|2.2|0.9|
|Tilapia (lbs)|*|—|—|—|—|—|—|—|—|0.2|—|
|Pork Loin (lbs)|*|—|—|—|—|—|—|—|—|0.2|—|
|Beef Fat (lbs)|*|—|—|—|—|—|—|—|—|1.2|0.3|
