||35E<br>Start<br>Dec 10|36E<br>Start<br>Jan 21|37E<br>Start<br>Mar 3|38E<br>Start<br> Apr 14|39E<br>Start<br> May 26|40E<br>Start<br>Jul 7|41E<br>Start<br>Aug 18|42E<br>Start<br>Sep 29|43E<br>Start<br>Nov 10|44E<br>Start<br>Dec 22|
|--|:--:|:--:|:--:|:--:|:--:|:--:|:--:|:--:|:--:|:--:|
|M1. 🥩 **Streak**|🟢|🟢|🟢|🟢|🟢|🟢|⚪|⚪|⚪|⚪|
|M2. 👖 **Jeans**|🟡<br>42"|🟡<br>40"|🟡<br>38"|🟡<br>38"|🟡<br>34"|🟡<br>34"|⚪<br>TBD|⚪<br>TBD|⚪<br>TBD|⚪<br>TBD|
|M3. 🏆 **Ratio**|🟡<br>0.932 |🟡<br>1.010|🟡<br>1.043|🟡<br>1.049|🟡<br>1.091|🟡<br>1.097|⚪<br>TBD|⚪<br>TBD|⚪<br>TBD|⚪<br>TBD|
|M4. 💪 **Arms**|🟡<br>16.5"|🟡<br>16.5"|🟡<br>16.5"|🟡<br>16"|🟡<br>15"|🟡<br>15"|⚪<br>TBD|⚪<br>TBD|⚪<br>TBD|⚪<br>TBD|
|F1. 🎁 **Outfits**|🟢|🟢|🟢|🟢|🟢|<span class="checkmark">&#x2714;</span>|||||
|F2. 🔥 **Races**|🟡<br>255|🟡<br>240|🟡<br>227|🟡<br>213|🟡<br>204|🟡<br>202|⚪<br>TBD|⚪<br>TBD|⚪<br>TBD|⚪<br>TBD|
|F3. 🌆 **Yeard**|🟢<br>12/31 |🟢<br>&nbsp;|🟢<br>&nbsp;|🟢<br>&nbsp;|🟢<br>&nbsp;|🔴<br>6/14|⚪<br>TBD|⚪<br>TBD|⚪<br>TBD|⚪<br>TBD|
