
<table>
    <tr>
      <th></th>
      <th>Total</th>
      <th>Expeditions</th>
      <th>Type</th>
    </tr>
    <tr>
      <td>1.</td>
      <td>795 days</td>
      <td>13E - 27E<br> Jun '20 - Aug '22</td>
      <td>Keto (158 days) & Carnivore (637 days)</td>
    </tr>
    <tr>
      <td>2.</td>
      <td><b>{% include carnivore-countup.html %}</b></td>
      <td>34E - <b>ACTIVE</b><br> Oct '23 - present</td>
      <td>High-fat Carnivore</td>
    </tr>
    <tr>
      <td>3.</td>
      <td>237 days</td>
      <td>28E - 33E<br> Nov '22 - Jul '23 </td>
      <td>High-fat Carnivore</td>
  </tr>
    <tr>
      <td>4.</td>
      <td>116 days</td>
      <td>7E - 9E <br> May - Sep '19</td>
      <td>Low-calorie RDA Vegetarian</td>
    </tr>
    <tr>
      <td>5.</td>
      <td>92 days</td>
      <td>4E - 6E<br> Aug - Dec '18</td>
      <td>Low-calorie RDA Vegetarian</td>
    </tr> 
</table>

