<div id="weight_chart-all"></div> 
<script>
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {

    var data = new google.visualization.DataTable();
    data.addColumn('date', 'Date');
    data.addColumn('number', 'Weight');

    data.addRows([
        [new Date(2017,11,31),331],
        [new Date(2018,3,2),321],
        [new Date(2018,4,14),280.5],
        [new Date(2018,5,25),250.25],
        [new Date(2018,6,25),281.25],
        [new Date(2018,7,22),291],
        [new Date(2018,7,28),288],
        [new Date(2018,8,4),277],
        [new Date(2018,8,21),260.25],
        [new Date(2018,9,9),245],
        [new Date(2018,10,20),218],
        [new Date(2019,0,22),254.25],
        [new Date(2019,2,17),282],
        [new Date(2019,3,4),290],
        [new Date(2019,3,24),295],
        [new Date(2019,3,25),295],
        [new Date(2019,4,3),295],
        [new Date(2019,4,10),295],
        [new Date(2019,4,11),295],
        [new Date(2019,4,12),295],
        [new Date(2019,4,22),295],
        [new Date(2019,6,10),250],
        [new Date(2019,7,21),226],
        [new Date(2019,9,2),211.25],
        [new Date(2019,11,30),271],
        [new Date(2020,0,23),277],
        [new Date(2020,1,12),277],
        [new Date(2020,2,7),271],
        [new Date(2020,2,25),237],
        [new Date(2020,3,20),277],
        [new Date(2020,4,6),283],
        [new Date(2020,5,18),292],
        [new Date(2020,6,30),267.75],
        [new Date(2020,8,10),255.75],
        [new Date(2020,9,22),244],
        [new Date(2020,10,23),241],
        [new Date(2020,11,3),237],
        [new Date(2021,0,14),223],
        [new Date(2021,1,25),220.25],
        [new Date(2021,3,8),213],
        [new Date(2021,4,20),209],
        [new Date(2021,6,1),210],
        [new Date(2021,7,12),197.5],
        [new Date(2021,8,23),190.5],
        [new Date(2021,10,4),182],
        [new Date(2021,11,16),187],
        [new Date(2022,3,2),238],
        [new Date(2022,7,22),250],
        [new Date(2022,10,21),292],
        [new Date(2023,0,2),261.5],
        [new Date(2023,1,13),248.5],
        [new Date(2023,2,27),237.5],
        [new Date(2023,4,8),225.0],
        [new Date(2023,5,19),215.0],
        [new Date(2023,9,29),274.0],
        [new Date(2023,11,10),255.0],
        [new Date(2024,0,21),244.0],
        [new Date(2024,2,3),227.0],
        [new Date(2024,3,14),213.0],
        [new Date(2024,4,26),204.0],
        [new Date(2024,6,7),202.0],
        [new Date(2024,7,18),193.0]
    ]);

    var root = getComputedStyle(document.documentElement);
    var titleColor = root.getPropertyValue('--title').trim();
    var chartBackground = root.getPropertyValue('--background').trim();
    var hAxisTitleColor = root.getPropertyValue('--gTitle').trim();
    var hAxisTextColor = root.getPropertyValue('--gText').trim();
    var hAxisGridlineColor = root.getPropertyValue('--grid').trim();
    var hAxisMinorGridlineColor = root.getPropertyValue('--minorGrid').trim();
    var vAxisTitleColor = root.getPropertyValue('--gTitle').trim();
    var vAxisTextColor = root.getPropertyValue('--gText').trim();
    var vAxisGridlineColor = root.getPropertyValue('--grid').trim();
    var vAxisMinorGridlineColor = root.getPropertyValue('--minorGrid').trim();
    var seriesColor = root.getPropertyValue('--series').trim();
   
    var options = {
      legend: { position: 'bottom' },
      title: 'Weight (lbs) Since December 31, 2017',
      titleTextStyle: {
        color: titleColor,
        fontSize: 17,
        fontName: 'Atkinson-Hyperlegible',
        bold: true,
        italic: false,
      },
      chartArea: { width: '80%', height: '80%' },
      width: '100%',
      height: 500,
      legend: 'none',
      backgroundColor: chartBackground,
      hAxis: {
        title: 'Dates',
        titleTextStyle: { 
          color: hAxisTitleColor,
          fontName: 'Atkinson-Hyperlegible',
        },
        format: "MMM ''yy",
        gridlines: {
          color: hAxisGridlineColor,
          units: {
            years: { format: ['Y'] },
            months: { format: ['M'] }
          }
        },
        minorGridlines: { color: hAxisMinorGridlineColor },
        textStyle: {
          color: hAxisTextColor,
          fontName: 'Atkinson-Hyperlegible',
        },
      },
      vAxis: {
        title: 'Weight (lbs)',
        titleTextStyle: {
          color: vAxisTitleColor,
          fontName: 'Atkinson-Hyperlegible',
        },
        gridlines: { color: vAxisGridlineColor },
        minorGridlines: { color: vAxisMinorGridlineColor },
        textStyle: {
          color: vAxisTextColor,
          fontName: 'Atkinson-Hyperlegible',
        },
      },
      series: {
        0: { color: seriesColor, pointSize: 5 }
      },
      tooltip: {
        textStyle: {
          fontName: 'Atkinson-Hyperlegible'
        }
      }
    };

    var chart = new google.visualization.LineChart(document.getElementById('weight_chart-all'));
    chart.draw(data, options);
  }
</script>
